<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow" />
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="shortcut icon" href="/css_js/custom/img/favicon.jpg" type="image/vnd.microsoft.icon" />
<link href="https://fonts.googleapis.com/css?family=Maiden+Orange" rel="stylesheet"> 
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Kreon:400,700" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="/js/bootstrap.min.js"> </script>
<link rel="icon" type="image/png" href="/css/penguin.png">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">
<script src="/js/custom.js"></script>
<title> Account Panel | Flake</title>
</head>
<body>
    <% if (!panel_type) { %>
      <h4 class="d-flex justify-content-center"> Welcome back, <%= username %> </h4> 
        <br>
        <div class="float-right d-flex align-items-center">
          <a href='/logout'>                     
              <input type="submit" value="Logout" class="btn btn-danger col-md-9 btn-logout">
        </a>
      </div>
    
      

              <div class='notup'>
                  <span class="border"></span>
              </div>
              <br>
              <div id="stats">
                <table class="table table-bordered" style="margin: 0px auto;">
                  <tbody>
                    <tr>
                      <th scope="row"><p>Player ID</p></th>
                      <td><p> <%= id %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Username</p></th>
                      <td><p><%= username %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Username Approved?</p></th>
                      <td><p><%= approval %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Account Activated?</p></th>
                      <td><p><%= active %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Email </p></th>
                      <td colspan="2"><p> <%= email %></p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Coins</p></th>
                      <td colspan="2"><p><%= coins %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Rank</p></th>
                      <td colspan="2"><p><%= rank %> </p></td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <h5> Your Penguin</h5>
            <img class="card-img-top" src="/avatar/<%= id %>" alt="avatar">



          <div class="table"> 
            <div id="options">
                <table class="table table-bordered " style="margin-inline-start: 80px; ">
                    

                            <tr>
      
                             <% if (add_item == 1) { %>
                            <td>
                                <a href='/items'>
                              <div class="stats"> 
                                Add Items &nbsp;                            
                                    <input type="hidden" name="_method" value="DELETE" />
                            </div>
                          </a>
                            </td>
                            <% } %>
                            <% if (redemption == 1) { %>
                            <td>
                                <a href='/redemption'>
                                  <div class="stats"> 
                                    Redemption&nbsp;                            
                                        <input type="hidden" name="_method" value="DELETE" />
                                </div>
                              </a>
                                </td>
                                <% } %>
                                <td>
                                    <a href='/password'>
                                      <div class="stats"> 
                                        Change Password &nbsp;                            
                                            <input type="hidden" name="_method" value="DELETE" />
                                    </div>
                                  </a>
                                    </td>
                                <td>
                                    <a href='/email'>
                                      <div class="stats"> 
                                        Change Email &nbsp;                            
                                            <input type="hidden" name="_method" value="DELETE" />
                                    </div>
                                  </a>
                                </td>

                  
        
                            </tr>

                    </table>





      <% } %>

      <% if (panel_type) { %>
        <h4 class="d-flex justify-content-center"> Welcome back, <%= username %> </h4> 
        <br>
        <div class="float-right d-flex align-items-center">
          <a href='/logout'>                     
              <input type="submit" value="Logout" class="btn btn-danger col-md-9 btn-logout">
        </a>
      </div>
    
      

              <div class='notup'>
                  <span class="border"></span>
              </div>
              <br>
              <div id="stats">
                <table class="table table-bordered" style="margin: 0px auto;">
                  <tbody>
                    <tr>
                      <th scope="row"><p>Player ID</p></th>
                      <td><p> <%= id %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Username</p></th>
                      <td><p><%= username %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Username Approved?</p></th>
                      <td><p><%= approval %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Account Activated?</p></th>
                      <td><p><%= active %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Email </p></th>
                      <td colspan="2"><p> <%= email %></p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Coins</p></th>
                      <td colspan="2"><p><%= coins %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Rank</p></th>
                      <td colspan="2"><p><%= rank %> </p></td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <h5> Your Penguin</h5>
            <img class="card-img-top" src="/avatar/<%= id %>" alt="avatar">



          <div class="table"> 
            <div id="options">
                <table class="table table-bordered " style="margin-inline-start: 80px; ">
                    

                            <tr>
      
                             <% if (add_item == 1) { %>
                            <td>
                                <a href='/items'>
                              <div class="stats"> 
                                Add Items &nbsp;                            
                                    <input type="hidden" name="_method" value="DELETE" />
                            </div>
                          </a>
                            </td>
                            <% } %>
                            <% if (redemption == 1) { %>
                            <td>
                                <a href='/redemption'>
                                  <div class="stats"> 
                                    Redemption&nbsp;                            
                                        <input type="hidden" name="_method" value="DELETE" />
                                </div>
                              </a>
                                </td>
                                <% } %>
                            <td>
                                <a href='/unban'>
                                  <div class="stats"> 
                                    Unban Users &nbsp;                            
                                        <input type="hidden" name="_method" value="DELETE" />
                                </div>
                              </a>
                                </td>
                                <td>
                                    <a href='/email'>
                                      <div class="stats"> 
                                        Change Email &nbsp;                            
                                            <input type="hidden" name="_method" value="DELETE" />
                                    </div>
                                  </a>
                                </td>

                  
        
                            </tr>

                    </table>

                    <div class="table"> 
                        <div id="options">
                            <table class="table table-bordered" style="margin-inline-start: -520px; ">
                                
                                <tr>
                                <td>
                                    <a href='/password'>
                                      <div class="stats"> 
                                        Change Password &nbsp;                            
                                            <input type="hidden" name="_method" value="DELETE" />
                                    </div>
                                  </a>
                                    </td>
                                    <% if (verify_user == 1) { %>
                                        <td>
                                            <a href='/verify'>
                                              <div class="stats"> 
                                                Verify Usernames &nbsp;                            
                                                    <input type="hidden" name="_method" value="DELETE" />
                                            </div>
                                          </a>
                                            </td>
                                            <% } %>
                                        <td>
                                            <a href='/userban'>
                                              <div class="stats"> 
                                                Ban Users &nbsp;                            
                                                    <input type="hidden" name="_method" value="DELETE" />
                                            </div>
                                          </a>
                                            </td>
                                            <% if (manage_penguins == 1) { %>
                                            <td>
                                                <a href='/manager'>
                                                  <div class="stats"> 
                                                    Manage Penguins &nbsp;                            
                                                        <input type="hidden" name="_method" value="DELETE" />
                                                </div>
                                              </a>
                                                </td>
                                                <% } %>
            
                              
                    
                                        </tr>
            
                                </table>


<% } %>
     
</body>
</html>
