<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow" />
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="shortcut icon" href="/css_js/custom/img/favicon.jpg" type="image/vnd.microsoft.icon" />
<link href="https://fonts.googleapis.com/css?family=Maiden+Orange" rel="stylesheet"> 
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Kreon:400,700" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="/css_js/bootstrap/js/bootstrap.min.js"> </script>
<link rel="icon" type="image/png" href="/css_js/penguin.png">
<link rel="stylesheet" href="/css_js/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css_js/custom.css">
<script src="/css_js/custom.js"></script>
<title> Account Panel | Flake</title>
</head>
<body>
    <% if (!panel_type) { %>
      <h3>Welcome back, <%= username %> </h3>
              <div class='notup'>
                  <span class="border"></span>
              </div>
              <div id="stats">
                <table class="table table-bordered" style="margin: 0px auto;">
                  <tbody>
                    <tr>
                      <th scope="row"><p>Player ID</p></th>
                      <td><p> <%= id %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Username</p></th>
                      <td><p><%= username %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Username Approved?</p></th>
                      <td><p><%= approval %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Account Activated?</p></th>
                      <td><p><%= active %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Email </p></th>
                      <td colspan="2"><p> <%= email %></p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Coins</p></th>
                      <td colspan="2"><p><%= coins %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Rank</p></th>
                      <td colspan="2"><p><%= rank %> </p></td>
                    </tr>
                  </tbody>
                </table>
            </div>


            <div class="columns">
              <div class="column">
                <div class="box avatar-container">
                  <embed src="http://media.localhost/play/v2/client/avatar.swf" wmode="transparent" salign="t" scale="noborder" flashvars="<%= avatar %>" />
                </div>
              </div>

              <div class="panel-button"> 
                <form action="/logout" method="GET" name="reg" onsubmit=""> 
                <input type="submit" id="button" value="Logout">
              </form>
            </div>

              <div class="panel-button"> 
                <form action="/UpdatePassword" method="GET" name="reg" onsubmit=""> 
                <input type="submit" id="button" value="Change Password">
              </form>
            </div>
    
            <div class="panel-button"> 
              <form action="/UpdateEmail" method="GET" name="reg" onsubmit=""> 
              <input type="submit" id="button" value="Change Email">
            </form>
          </div>

          <% if (add_item == 1) { %>
            <div class="panel-button"> 
                <form action="/AddItem" method="GET" name="reg" onsubmit=""> 
                <input type="submit" id="button" value="Add Items">
              </form>
            </div>

            <% } %>


      <% } %>

      <% if (panel_type) { %>
        <h3>Welcome back, <%= username %> </h3>
              <div class='notup'>
                  <span class="border"></span>
              </div>
              <div id="stats">
                <table class="table table-bordered" style="margin: 0px auto;">
                  <tbody>
                    <tr>
                      <th scope="row"><p>Player ID</p></th>
                      <td><p> <%= id %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Username</p></th>
                      <td><p><%= username %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Username Approved?</p></th>
                      <td><p><%= approval %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Account Activated?</p></th>
                      <td><p><%= active %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Email </p></th>
                      <td colspan="2"><p> <%= email %></p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Coins</p></th>
                      <td colspan="2"><p><%= coins %> </p></td>
                    </tr>
                    <tr>
                      <th scope="row"><p> Rank</p></th>
                      <td colspan="2"><p><%= rank %> </p></td>
                    </tr>
                  </tbody>
                </table>
            </div>


            <div class="columns">
              <div class="column">
                <div class="box avatar-container">
                  <embed src="http://media.localhost/play/v2/client/avatar.swf" wmode="transparent" salign="t" scale="noborder" flashvars="<%= avatar %>" />
                </div>
              </div>
              <% if (verify_user == 1) { %>
                <div class="panel-button"> 
                    <form action="/verify" method="GET" name="reg" onsubmit=""> 
                    <input type="submit" id="button" value="Verify Usernames">
                  </form>
                </div>
      
                <% } %>
              
                <div class="panel-button"> 
                    <form action="/ban" method="GET" name="reg" onsubmit=""> 
                    <input type="submit" id="button" value="Ban A User">
                  </form>
                </div>


              <div class="panel-button"> 
                <form action="/logout" method="GET" name="reg" onsubmit=""> 
                <input type="submit" id="button" value="Logout">
              </form>
            </div>

              <div class="panel-button"> 
                <form action="/UpdatePassword" method="GET" name="reg" onsubmit=""> 
                <input type="submit" id="button" value="Change Password">
              </form>
            </div>
    
            <div class="panel-button"> 
              <form action="/UpdateEmail" method="GET" name="reg" onsubmit=""> 
              <input type="submit" id="button" value="Change Email">
            </form>
          </div>
          <div class="panel-button"> 
              <form action="/unban" method="GET" name="reg" onsubmit=""> 
              <input type="submit" id="button" value="Unban A User">
            </form>
          </div>

          <% if (add_item == 1) { %>
            <div class="panel-button"> 
                <form action="/AddItem" method="GET" name="reg" onsubmit=""> 
                <input type="submit" id="button" value="Add Items">
              </form>
            </div>

            <% } %>

        <% } %>



  


              
             
                

              
</body>
</html>
