<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow" />
<meta name="description" content="">
<meta name="keywords" content="">
<link href="https://fonts.googleapis.com/css?family=Maiden+Orange" rel="stylesheet"> 
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Kreon:400,700" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="icon" type="image/png" href="/css/penguin.png">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"> </script>
<link rel="stylesheet" href="/css/custom.css">
<script src="/js/custom.js"></script>
<title> Update | Flake</title>
</head>
<body>



        <% if (update_msg != '') { %>
            <div class="alert alert-success" role="alert"><%= update_msg %></div>
            <% } %>

            <% if (error_msg != '') { %>
                <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                <% } %>

            <div class="back-button"> 
                    <form action="/panel" method="GET" onsubmit=""> 
                    <input type="submit" class="btn btn-primary" value="Go Back">
                  </form>
                </div>

<% if (update_type == 'password') { %>
    <div class="account-login">
        <h1 class="text-center fade1 upward emu">Update Your Password</h1>
        <form action="/update" method="POST" name="reg" onsubmit="">
            <input type="password" name="password" id="password" oninput="passwordCheck()" placeholder="Password" required>
            <input type="password" name="password_confirm" id="password_confirm" oninput="passwordConfirm()" placeholder="Confirm Your Password" required>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    <% } %>

    <% if (update_type == 'redemption') { %>
        <div class="account-login">
            <h1 class="text-center fade1 upward emu">Redeem A Code</h1>
            <form action="/redeem" method="POST" name="reg" onsubmit="">
                <input type="text"  name="code" id="code" placeholder="Code" required>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
        <% } %>

    <% if (update_type == 'edit_field') { %>
        <div class="account-login">
            <h1 class="text-center fade1 upward emu">Edit this players <%= row %> </h1>
            <form action="/manage/update/<%= row %>/<%= id %>" method="POST" name="reg" onsubmit="">
                <input type="player_data" name="player_data" id="player_data" placeholder="<%= row %>" required>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
        <% } %>
    


    <% if (update_type == 'email') { %>
        <div class="account-login">
            <h1 class="text-center fade1 upward emu">Update Your Email</h1>
            <form action="/update" method="POST" name="reg" onsubmit="">
                <input type="text" name="email" id="email" oninput="emailCheck();" placeholder="Email" required>
                <input type="submit" class="btn btn-primary" class="btn btn-primary">
            </form>
        </div>
        <% } %>

        <% if (update_type == 'add_item') { %>
            <div class="account-login">
                <h1 class="text-center fade1 upward emu">Add Items</h1>
                <form action="/update" method="POST" name="reg" onsubmit="">
                    <input type="number" min="1"  max="25000" name="item" id="item" placeholder="Item ID" required>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
            <% } %>

            <% if (update_type == 'ban') { %>
                <div class="account-login">
                    <h1 class="text-center fade1 upward emu">Submit A Ban</h1>
                    <form action="/ban" method="POST" name="reg" onsubmit="">
                        <input type="text" name="username" id="username" oninput="usernamePurity()" placeholder="Username" required>
                        <input type="number" name="hours" id="hours" placeholder="Hours" required>
                        <input type="text" name="reason" id="reason" oninput="" placeholder="Reason" required>
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
                <% } %>
        
            <% if (update_type == 'verify') { %>
                <div class="table"> 
    
                <div id="verify">
                            <table class="table table-bordered" style="margin: 0px auto;">
 
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th> Verify User?</th>
                                    </tr>
                                    
                            
                                    <% if (approval) { %>
                                    <% approval.forEach(function(approval){ %>
                                        <tr>
                                            <td><%= approval.ID %></td>
                                            <td><%= approval.Username %></td>
                                            <td>
                                                <div class="stats"> 
                                                    <a href='/verify/<%= approval.ID %>'>Yes</a> &nbsp;                            
                                                        <input type="hidden" name="_method" value="DELETE" />
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %>
                                 
                                </table>
                </form>
                </div>
            </div>
            
                <% } %>
                <% } %>

                <% if (update_type == 'unban') { %>
                    <div class="table"> 
        
                    <div id="verify">
                                <table class="table table-bordered" style="margin: 0px auto;">
     
                                        <tr>
                                            <th>Username</th>
                                            <th>Reason</th>
                                            <th> Unban User?</th>
                                        </tr>
                                        
                                
                                        <% if (bans) { %>
                                        <% bans.forEach(function(bans){ %>
                                            <tr>
                                                <td><%= bans.Username %></td>
                                                <td><%= bans.Comment %></td>
                                                <td>
                                                    <div class="stats"> 
                                                        <a href='/unban/<%= bans.PenguinID %>'>Yes</a> &nbsp;                                     
                                                            <input type="hidden" name="_method" value="DELETE" />
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                     
                                    </table>
                    </div>
                </div>
                
                    <% } %>
                    <% } %>

                    <% if (update_type == 'manage') { %>
                        <div class="table"> 
            
                        <div id="verify">
                                    <table class="table table-bordered" style="margin: 0px auto;">
         
                                            <tr>
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>Nickname</th>
                                                <th>Email</th>
                                                <th>Avatar</th>
                                                <th>Edit?</th>
                                            </tr>
                                            
                                    
                                            <% if (penguin) { %>
                                            <% penguin.forEach(function(penguin){ %>
                                                <tr>
                                                    <td><%= penguin.ID %></td>
                                                    <td><%= penguin.Username %></td>
                                                    <td><%= penguin.Nickname %></td>
                                                    <td><%= penguin.Email %></td>
                                                    <td><img class="card-img-top" style="width: 100px;" src="/avatar/<%=penguin.ID%>" alt="Card image cap"></td>

                                                    <td>
                                                        <div class="stats"> 
                                                            <a href='/manage/<%= penguin.ID %>'>Yes</a> &nbsp;                                     
                                                                <input type="hidden" name="_method" value="DELETE" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                         
                                        </table>
                        </div>
                    </div>
                    
                        <% } %>
                        <% } %>

                        <% if (update_type == 'manage_penguin') { %>
                <div class="table"> 
                <div id="verify">
                    <table class="table table-bordered" style="margin-inline-start: -200px;">

                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>Approved Username?</th>
                                <th>Activated User?</th>
                                <th>Moderator?</th>
                                <th>Coins</th>
                                <th>Rank</th>
                            </tr>
                            
                    
                            <% if (penguin) { %>
                                <tr>
                                    <td><%= penguin.ID %></td>
                                    <td><%= penguin.Username %></td>
                                    <td>**********</td>
                                    <td><%= penguin.Email %></td>
                                    <td><%= approval %></td>
                                    <td><%= active %></td>
                                    <td><%= moderator %></td>
                                    <td><%= penguin.Coins %></td>
                                    <td><%= penguin.Rank %></td>
                                </tr>
                                <tr>
                                   <td> 
                                    -
                                </td>
                                    <td>
                                    <div class="stats"> 
                                        <a href='/manage/edit/Username/<%= penguin.ID %>'>Edit Username</a> &nbsp;                            
                                            <input type="hidden" name="_method" value="DELETE" />
                                    </div>
                                </td>
                                <td>
                                        <div class="stats"> 
                                            <a href='/manage/edit/Password/<%= penguin.ID %>'>Edit Password</a> &nbsp;                            
                                                <input type="hidden" name="_method" value="DELETE" />
                                        </div>
                                    </td>
                                <td>
                                        <div class="stats"> 
                                            <a href='/manage/edit/Email/<%= penguin.ID %>'>Edit Email</a> &nbsp;                            
                                                <input type="hidden" name="_method" value="DELETE" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="stats"> 
                                            <a href='/manage/edit/Approval/<%= penguin.ID %>'>Change Username Approval</a> &nbsp;                            
                                                <input type="hidden" name="_method" value="DELETE" />
                                        </div>
                                    </td>
                                    <td>
                                            <div class="stats"> 
                                                <a href='/manage/edit/Active/<%= penguin.ID %>'>Change User Activation</a> &nbsp;                            
                                                    <input type="hidden" name="_method" value="DELETE" />
                                            </div>
                                        </td>
                                            <td>
                                                    <div class="stats"> 
                                                        <a href='/manage/edit/Moderator/<%= penguin.ID %>'>Change Moderator</a> &nbsp;                            
                                                            <input type="hidden" name="_method" value="DELETE" />
                                                    </div>
                                                </td>
                                            <td>
                                                    <div class="stats"> 
                                                        <a href='/manage/edit/Coins/<%= penguin.ID %>'>Edit Coins</a> &nbsp;                            
                                                            <input type="hidden" name="_method" value="DELETE" />
                                                    </div>
                                                </td>
                                                <td>
                                                        <div class="stats"> 
                                                            <a href='/manage/edit/Rank/<%= penguin.ID %>'>Edit Rank</a> &nbsp;                            
                                                                <input type="hidden" name="_method" value="DELETE" />
                                                        </div>
                                                    </td>
                                </tr>

                        </table>
        </form>
        </div>
    </div>
                            <% } %>
                            <% } %>
                        
    
              
             
                

              
</body>
</html>
